<div class="mx-auto md:w-2/3 w-full">
  <%= link_to 'Back to skills', skills_path, class: "float-right ml-2 inline-block font-md underline decoration-indigo-800" %>
  <h1>New skill</h1>

  <%= render "form", skill: @skill %>

</div>
