<div class="w-full mx-auto mt-2">
  <%= link_to "Adding several skills at once?", new_multi_path, class: "float-right ml-2 inline-block font-md underline decoration-indigo-800" %>
  <h1>New skill</h1>

  <%= render "form", skill: @skill %>
</div>
