<div class="w-full mx-auto mt-2 md:w-2/3">
  <%= link_to 'Back to skills', skills_path, class: "float-right ml-2 inline-block font-md underline decoration-indigo-800" %>
  <h1>New skill</h1>
  <%= link_to "Adding several skills at once?", new_multi_path, class: "underline text-indigo-900" %>

  <%= render "form", skill: @skill %>

</div>
