<div class="flex w-full mx-auto md:w-2/3">
  <div class="mx-auto">
    <%# <%= link_to 'Back to skills', skills_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>

    <%= render @skill %>
  </div>
</div>
