<div class="w-full mx-auto md:w-2/3">
  <h1 class="inline-block text-4xl font-bold">Editing domain</h1>
  <%= link_to "< Back to domains", domains_path, class: "ml-2 rounded-lg py-3 px-5 underline inline-block font-medium float-right" %>

  <%= render "form", domain: @domain %>



  <div class="mt-10">
    <%= button_to "Delete #{@domain.name}", domain_path(@domain), method: :delete, form_class: "inline-block", class: "py-3 px-5 bg-red-500 text-white rounded-md inline-block font-medium" %>
  </div>

</div>
