<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl inline-block">Editing activity</h1>
  <%= link_to "Back", skill_path(@skill), class: "ml-2 mt-3 underline inline-block font-medium float-right" %>

  <%= render "form", activity: @activity %>

  <%= button_to "delete", {:controller => :activities, :action => 'destroy', :id => @activity.id }, :method => :delete, class: "bg-red-500 p-2 rounded-md text-white inline-block float-right" %>

</div>
