<div class="flex w-full mx-auto md:w-2/3">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="inline-block px-3 py-2 mb-5 font-medium text-green-500 rounded-lg bg-green-50" id="notice"><%= notice %></p>
    <% end %>

    <%= render @activity %>

    <%= link_to 'Edit this activity', edit_skill_activity_path(@activity), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <div class="inline-block ml-2 p-1">
      <%#= button_to 'Delete', controller: 'activities', method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
      <%= button_to "delete", {:controller => :activities, :action => 'destroy', :id => @activity.id }, :method => :delete %>
    </div>
    <%#= link_to 'Back to activities', activities_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  </div>
</div>
